#container {
  display: flex;
  justify-content: center;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.widget-container.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  font-size: 1.5rem;
}

.repo-widget {
  --repo-width: 30rem;
  --repo-height: var(--repo-width);
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  width: var(--repo-width);
  max-height: var(--repo-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.repo-widget button {
  background: transparent;
  border-color: #f44336;
  color: #f44336;
  border: 1;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  height: 2rem;
  width: 2rem;
  flex-grow: 0;
  display: inline-block;
}

.repo-widget button:hover {
  background: #f44336;
  color: #fff;
}

.commit-date {
  font-weight: bold;
}

.repo-widget p {
    margin: 5px 0;
    color: #333;
}

.repo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo-title h3 {
    margin: 0;
}

.commit-message-wrapper {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.commit-sha {
    word-break: break-all;
}

.collapsed .commit-message-wrapper, .collapsed .commit-author, .collapsed .iso-date, .collapsed .commit-sha {
    display: none;
}

.add-repo-wrapper {
    display: flex;
    justify-content: center;
}

