#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.repo-widget {
  --repo-width: 30rem;
  --repo-height: var(--repo-width);
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  width: var(--repo-width);
  max-height: var(--repo-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.repo-widget button {
  float: right;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  height: 2rem;
  width: 2rem;
  align-self: end;
  margin-bottom: -2rem;
  flex-grow: 0;
}

.repo-widget .commit-date {
  font-size: 1.2em;
  font-weight: bold;
}

.repo-widget p {
    margin: 5px 0;
    color: #333;
}

.repo-widget p strong {
    color: #000;
}

.repo-title {
    margin: 0 0 1rem 0;
}

.commit-message-wrapper {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.commit-sha {
    word-break: break-all;
}

.add-repo-wrapper {
    display: flex;
    justify-content: center;
}

